WEBUI 404 issue in openxpki docker compose


I have issue when install openxpki by dokcer compose and my webui throw error 404 can anyone help me to resolve this issue?

i changed the rewrite rules in apache but it doesnt route to the exact path in backend server

services:

  db:
    image: mariadb:10.6
    container_name: db
    restart: unless-stopped

    environment:
      MARIADB_ROOT_PASSWORD: rootpass
      MARIADB_DATABASE: openxpki
      MARIADB_USER: openxpki
      MARIADB_PASSWORD: openxpki

    volumes:
      - db_data:/var/lib/mysql

    healthcheck:
      test:
        [
          "CMD",
          "mariadb-admin",
          "ping",
          "-h",
          "127.0.0.1",
          "-uroot",
          "-prootpass"
        ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s


  openxpki:
    image: whiterabbitsecurity/openxpki3:3.32.16
    container_name: openxpki
    restart: unless-stopped

    depends_on:
      db:
        condition: service_healthy

    ports:
      - "8443:443"

    environment:
      OPENXPKI_CONFIG_DB_HOST: db
      OPENXPKI_CONFIG_DB_NAME: openxpki
      OPENXPKI_CONFIG_DB_USER: openxpki
      OPENXPKI_CONFIG_DB_PASSWORD: openxpki

    volumes:
      - ./openxpki-config-community:/etc/openxpki
      - ./openxpki-local:/etc/openxpki/local
      - ./apache/openxpki.conf_bkp:/etc/apache2/sites-enabled/openxpki.conf

    command:
      - /bin/bash
      - -c
      - |
        set -e

        echo "Starting OpenXPKI server..."
        openxpkictl start server

        echo "Starting OpenXPKI client..."
        openxpkictl start client

        echo "Starting Apache..."
        exec apachectl -D FOREGROUND


volumes:
  db_data:

its my docker compose file and also i add apache config below



<IfModule mod_ssl.c>
SSLProtocol all -SSLv2 -SSLv3
SSLCipherSuite HIGH:!NULL:+AES:!CAMELLIA:!SEED:!ARIA:!IDEA:!DES:!3DES:!RC2:!RC4:!PSK:!SHA:!MD5:!RSA:!AESCCM:!DSS:!ADH
</IfModule>

TraceEnable Off
ServerSignature Off
ServerTokens Prod

ProxyRequests Off

<Macro OxiForwardEnv $key>
    RequestHeader set X-ReverseProxy-ENV-$key "expr=%{base64:%{$key}}" "expr=-n %{$key}"
</Macro>
<Macro OxiPreventInjection $key>
    RequestHeader unset X-ReverseProxy-ENV-$key
</Macro>

Define OxiClientSocket /run/openxpki-clientd/openxpki-clientd.sock

<IfModule mod_headers.c>
    RequestHeader set X-Forwarded-Proto expr=%{REQUEST_SCHEME} early
    RequestHeader set X-ReverseProxy-ENVSET 1 early
    RequestHeader set X-ReverseProxy-QueryString "expr=%{base64:%{QUERY_STRING}}" early
    use OxiPreventInjection SSL_CLIENT_S_DN
    use OxiPreventInjection SSL_CLIENT_CERT
</IfModule>

<IfModule mod_ssl.c>
<VirtualHost *:443>

#    LogLevel rewrite:trace5
    LogLevel rewrite:trace3
    ServerAlias *
    DocumentRoot /var/www/openxpki
    Alias /webui/ /var/www/openxpki/

    Alias /webui/assets/ /var/www/openxpki/assets/
    Alias /webui/fonts/ /var/www/openxpki/fonts/
    Alias /webui/img/ /var/www/openxpki/img/

    <Directory /var/www/openxpki/assets/>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    #Alias /webui/fonts/ /var/www/openxpki/fonts/

    <Directory /var/www/openxpki/fonts/>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    #Alias /webui/img/ /var/www/openxpki/img/

    <Directory /var/www/openxpki/img/>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    RewriteEngine On

    SSLEngine On
    SSLCertificateFile /etc/openxpki/tls/endentity/openxpki.crt
    SSLCertificateKeyFile /etc/openxpki/tls/private/openxpki.pem
#    SSLCACertificatePath /etc/openxpki/tls/chain/
    SSLVerifyClient none
    #SSLVerifyDepth 3
    SSLOptions +StdEnvVars +ExportCertData

    # HTTPS specific preparation for Mojolicious based client services
    <IfModule mod_headers.c>
        Use OxiForwardEnv SSL_CLIENT_S_DN
        Use OxiForwardEnv SSL_CLIENT_CERT
    </IfModule>


    # RPC
    RewriteRule "/(rpc(/.*)?)$" "unix:${OxiClientSocket}|http://localhost/$1" [P]
    ProxyPassReverse /rpc http://localhost/

    # Builtin healthcheck
    RewriteRule "/(healthcheck(/.*)?)$" "unix:${OxiClientSocket}|http://localhost/$1" [P]
    ProxyPassReverse /healthcheck https://localhost/

    # EST (RFC7030)
    RewriteRule "/(.well-known/est(/.*)?)$" "unix:${OxiClientSocket}|http://localhost/$1" [P]
    ProxyPassReverse /.well-known/est https://localhost/

    # SimpleCMC (RFC5272 - EE only)
    RewriteRule "/(cmc(/.*)?)$" "unix:${OxiClientSocket}|http://localhost/$1" [P]
    ProxyPassReverse /cmc http://localhost/

    # ACME (RFC8555 - EE only)
    Header set Location expr=%{resp:X-location} "expr=-n %{resp:X-location}"
    RewriteRule "/(acme(/.*)?)$" "unix:${OxiClientSocket}|http://localhost/$1" [P]
    ProxyPassReverse /acme http://localhost/

    # WebUI

    RewriteRule ^/webui/([a-z0-9-]+)/cgi-bin/webui\.fcgi$ "unix:${OxiClientSocket}|http://localhost/cgi-bin/webui.fcgi" [P,L]
    RewriteRule ^/?webui/cgi-bin/webui\.fcgi$ "unix:${OxiClientSocket}|http://localhost/cgi-bin/webui.fcgi" [P,L]
    ProxyPassReverse /webui http://localhost/

    RewriteRule ^/$ https://%{HTTP_HOST}/webui/ [L,R=301,NC]

    # Append a trailing slash
    RewriteRule ^/([a-z0-9-]+)$ https://%{HTTP_HOST}/$1/ [L,R=301,NC]

    # Map non existing directories to OpenXPKI application starter
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !(cgi-bin|rpc|acme|cmc|certep|download|healthcheck)
    RewriteRule ^/([a-z0-9-]+)/$ /var/www/openxpki/index.html [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l


    RewriteCond %{REQUEST_FILENAME} !^/webui/assets/
    RewriteCond %{REQUEST_FILENAME} !^/webui/fonts/
    RewriteCond %{REQUEST_FILENAME} !^/webui/img/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !(cgi-bin|rpc|acme|cmc|certep|download|healthcheck|oidc_redirect)
    RewriteRule ^/(webui/)?([a-z0-9-]+)/(.*) /var/www/openxpki/$3 [L,NC]

    # Set security headers
    <IfModule mod_headers.c>
    Header set Strict-Transport-Security max-age=31536000
    Header set X-Frame-Options deny
    Header set X-XSS-Protection "1; mode=block;"
    </IfModule>

</VirtualHost>
</IfModule>

<Directory "/usr/lib/cgi-bin/">
    AllowOverride None
    Options +ExecCGI
    Order allow,deny
    Allow from all
    Require all granted
</Directory>

<Directory /var/www/>
#    Options FollowSymLinks
#    AllowOverride FileInfo
    Require all granted
</Directory>








Please use the Mailinglist for support https://www.openxpki.org/#resources 

i send email to your mailing list support 


<html>
<body>
<!--StartFragment--><div class="gE iv gt" style="font-size: 0.875rem; padding: 20px 0px 0px; cursor: auto; color: rgb(34, 34, 34); font-family: &quot;Google Sans&quot;, Roboto, RobotoDraft, Helvetica, Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
openxpki-users-owner@lists.sourceforge.net | openxpki-users-owner@lists.sourceforge.net | 11:38 AM (1 minute ago) |   |  
-- | -- | -- | -- | --
openxpki-users-owner@lists.sourceforge.net
to me | to me
to me

</div><div id=":fp" style="color: rgb(34, 34, 34); font-family: &quot;Google Sans&quot;, Roboto, RobotoDraft, Helvetica, Arial, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><div id=":fo"><div class="KKSLrd"></div><div class="qQVYZb"></div></div><div class="utdU2e" id="avWBGd-146"></div><div class="wl4W9b" jsaction="LNSvUb:.CLIENT;xSdBYb:.CLIENT;CDWmBe:.CLIENT;EtHLdc:.CLIENT;pQnh7:.CLIENT;pKHw7e:.CLIENT;Z03mxd:.CLIENT;NZLNxf:.CLIENT;bXglpe:.CLIENT;mzh2Bc:.CLIENT" style="display: flex;"></div></div><div class="   " style="color: rgb(34, 34, 34); font-family: &quot;Google Sans&quot;, Roboto, RobotoDraft, Helvetica, Arial, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><div class="aHl" id="avWBGd-147" style="margin-left: -38px;"></div><div id=":gf" tabindex="-1"></div><div class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTg3MzkzNjQ5OTE1NTI4MjUwOCJd; 4:WyIjbXNnLWY6MTg3MzkzNjQ5OTE1NTI4MjUwOCIsbnVsbCxudWxsLG51bGwsMSwwLFsxLDAsMF0sNzksNTI2LG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCwxLG51bGwsbnVsbCxbM10sbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsMCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsWzAsMV0sMF0." id=":g3" style="color: rgb(34, 34, 34); direction: ltr; margin: 8px 0px 0px; padding: 0px; position: relative; font-size: 0.875rem; overflow-x: hidden;"><div class="a3s aiL " id=":fn" style="direction: ltr; font: small / 1.5 Arial, Helvetica, sans-serif; overflow: auto hidden; position: relative;"><div id="avWBGd-150">Your mail to 'OpenXPKI-users' with the subject<br><br>    404 error on docker compose version<br><br>Is being held until the list moderator can review it for approval.<br><br>The reason it is being held:<br><br>    Message body is too big: 189807 bytes with a limit of 120 KB<br><br>Either the message will get posted to the list, or you will receive<br>notification of the moderator's decision.  If you would like to cancel<br>this posting, please visit the following URL:</div></div></div></div><!--EndFragment-->
</body>
</html>

reply to me by this @oliwel 

Use the mailing list for support. If you message is too long, shorten it.


please give me the answer of my question i didnt find my answer in your
mailing list


On Wed, Aug 19, 2026 at 11:42 AM Martin Bartosch ***@***.***>
wrote:

> *mbartosch* left a comment (openxpki/openxpki#986)
> <https://github.com/openxpki/openxpki/issues/986#issuecomment-5339041832>
>
> Use the mailing list for support. If you message is too long, shorten it.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/openxpki/openxpki/issues/986?email_source=notifications&email_token=ASSU36VDF27QZUPC4RK25FL5KVK7VA5CNFSNUABFM5UWIORPF5TWS5BNNB2WEL2JONZXKZKDN5WW2ZLOOQXTKMZTHEYDIMJYGMZKM4TFMFZW63VGMF2XI2DPOKSWK5TFNZ2KYZTPN52GK4S7MNWGSY3L#issuecomment-5339041832>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/ASSU36XIFIDEXWJKNRXG7T35KVK7VAVCNFSNUABDKJSXA33TNF2G64TZHMZDGMJWGA4DQO2JONZXKZJ3GUYTQOJTGIZDAMBQUF3AE>
> .
> Triage notifications, keep track of coding agent tasks and review pull
> requests on the go with GitHub Mobile for iOS
> <https://github.com/notifications/mobile/ios/ASSU36R4IYAGFRRE4YAP6ZL5KVK7VA5CNFSNUABFM5UWIORPF5TWS5BNNB2WEL2JONZXKZKDN5WW2ZLOOQXTKMZTHEYDIMJYGMZKM4TFMFZW63VGMF2XI2DPOKSWK5TFNZ2KUZTPN52GK4S7NFXXG>
> and Android
> <https://github.com/notifications/mobile/android/ASSU36S4WMIZUPIX7CBODQD5KVK7VA5CNFSNUABFM5UWIORPF5TWS5BNNB2WEL2JONZXKZKDN5WW2ZLOOQXTKMZTHEYDIMJYGMZKM4TFMFZW63VGMF2XI2DPOKSWK5TFNZ2K4ZTPN52GK4S7MFXGI4TPNFSA>.
> Download it today!
> You are receiving this because you authored the thread.Message ID:
> ***@***.***>
>


You will not get special treatment here.