Modify OCSP CA

Hello, 

I want to modify the OCSP attribute of my CA. What is the procedure to regenerate the public parts of my CA with use of same keys ? 
i can't fined any information about that.

Dears

First of all: please discuss questions like these on the Users mailing list.

----

I want to modify the OCSP attribute of my CA. What is the procedure to regenerate the public parts of my CA with use of same keys ?
i can't fined any information about that.

I am afraid I don’t understand this question. 

What do you want to achieve? Do you want to add an OCSP AIA extension to the profile? In this case you just have to modify the profile and add something like

    authority_info_access:
        critical: 0
        ca_issuers: http://localhost/cacert.crt
        ocsp: http://ocsp.openxpki.org/

in the profile (see sample configuration). Of course this only affects newly issued certificates.



Sorry about talk here. I don't want to set this extension on newly issued certificates. But modify the ocsp value on the RootCA certificate. It's possible to regenerate the public part of the RootCa to do this ?

Again, I kindly ask you to take this discussion to the Users mailing list.

I still have difficulties understanding your problem.
What do you mean by "OCSP Value"? Do you mean an extended key usage attribute in the Issuing CA certificate that is used by your OpenXPKI instance for issuing end entity certificates?
If my assumption is correct:

It is not necessary to include this extension in an Issuing CA certificate. According to RFC 6960, section 2.2, OCSP responses may be signed by the Issuing CA itself for all issued end entity certificates. In addition OCSP response signature may also be delegated to a certificate directly issued by this CA. Only in the latter case this OCSP responder certificate needs said extended key usage.

Re-issuing a CA certificate is possible, but I would not recommend to do that unless you exactly know what you are doing. This is out of scope of OpenXPKI which focuses on operation of an Issuing CA, not creating the CA Certificate.
If you really need to re-issue the CA certificate I suggest you revisit the procedure you chose during your CA ceremony, modify the CA certificate profile accordingly, perform the necessary action to reissue your CA Certificate. Be warned that re-issuing a CA Certificate public key but with different properties may have unwanted and hard to debug side effects even a long time later down the road. As I said, you need to know what you are doing if you choose to do so.
