GET_TOKEN_ALIAS_BY_GROUP_NO_RESULT Error

Hi, 

When  i want to issue certificate with a date longer than signer certificate. the function get_token_alias_by_group()  (openxpki/core/server/OpenXPKI/Server/API/Token.pm)

return no result. but i think a warning is necessarie but not a total fail.

An exemple : 
Signer certificate have a live of 5 years. I have a template for issue certificate for 3 years.
after two year, all worksflow for générate certificate are blocked with the error: 
I18N_OPENXPKI_API_TOKEN_GET_TOKEN_ALIAS_BY_GROUP_NO_RESULT.


  

Hi,

> When i want to issue certificate with a date longer than signer certificate. the function get_token_alias_by_group() (openxpki/core/server/OpenXPKI/Server/API/Token.pm)
> 
> return no result. but i think a warning is necessarie but not a total fail.
> 
> An exemple :
> Signer certificate have a live of 5 years. I have a template for issue certificate for 3 years.
> after two year, all worksflow for générate certificate are blocked with the error:
> I18N_OPENXPKI_API_TOKEN_GET_TOKEN_ALIAS_BY_GROUP_NO_RESULT.

No, the system works as designed, in a properly managed OpenXPKI installation you should never see this error. (Well, if you do, you have already run into a huge problem, and this warrants the drastic error message...)

According to RFC 5280 section 6.1 (Basic Path Validation) it is not possible to allow certificates which have a validity outside of their Issuing CA validity, otherwise the path validation algorithm will not work at some point in time. 
This is a basic property of any RFC 5280 software and not a limitation of OpenXPKI. (I. e. even if OpenXPKI created such a certificate it would not be considered valid by other RFC 5280 compatible software.)

The correct way to address this problem is to plan for a proper CA rollovers by providing new Issuing CA certificates in advance whose validity is able to fully contain the intended EE validities. The idea is to have multiple Issuing CA certificates with overlapping validity that are capable of issuing certificates for the same logical CA namespace (aka PKI Realm). OpenXPKI is one of the few (the only?) products on the market which actually support this procedure properly.

A properly designed OpenXPKI installation can issue certificates for the same name space literally „forever“ and survive many generations of Root CAs and Issuing CAs without having to change any configuration or re-installation.

Cheers

Martin




BTW, please use the mailing list for general support questions.

Ok thanck you for the responce. 